.container {
    display: flex;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 5px;
    grid-auto-flow: column;
    grid-template-areas:
        "OSCIS LFO FILTER ENVELOPE"
        ". PIANO . .";
    height: 100vh;
    width: 100vw;
}

.OSCIS > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.FILTER > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ENVELOPE > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.LFO > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.OSC1_Q_FLTR {
    grid-area: OSC1_Q_FLTR;
}
.OSC2_Q_FLTR {
    grid-area: OSC2_Q_FLTR;
}
.OSC3_Q_FLTR {
    grid-area: OSC3_Q_FLTR;
}
.OSC1_FLTRQ {
    grid-area: OSC1_FLTRQ;
}
.OSC2_FLTRQ {
    grid-area: OSC2_FLTRQ;
}
.OSC3_FLTRQ {
    grid-area: OSC3_FLTRQ;
}
.OSC1_FREQ_FLTR {
    grid-area: OSC1_FREQ_FLTR;
}
.OSC2_FREQ_FLTR {
    grid-area: OSC2_FREQ_FLTR;
}
.OSC3_FREQ_FLTR {
    grid-area: OSC3_FREQ_FLTR;
}
.OSC1_FLFREQ {
    grid-area: OSC1_FLFREQ;
}
.OSC2_FLFREQ {
    grid-area: OSC2_FLFREQ;
}
.OSC3_FLFREQ {
    grid-area: OSC3_FLFREQ;
}



.osc1 {
    grid-area: OSC1;
}

.OSC2 {
    grid-area: OSC2;
}

.OSC3 {
    grid-area: OSC3;
}

.OSC1_VOL {
    grid-area: OSC1_VOL;
}

.OSC2_VOL {
    grid-area: OSC2_VOL;
}

.OSC3_VOL {
    grid-area: OSC3_VOL;
}
.OSC1_VOLW {
    grid-area: OSC1_VOLW;
}

.FLDT {
    grid-area: FLDT;
}
.GLFREQ {
    grid-area: FLQ
}
.FLRSN {
    grid-area: FLRSN
}

.OSC2_VOLW {
    grid-area: OSC2_VOLW;
}

.OSC3_VOLW {
    grid-area: OSC3_VOLW;
}

.OSC1_FREQ {
    grid-area: OSC1_FREQ;
}

.OSC2_FREQ {
    grid-area: OSC2_FREQ;
}

.OSC3_FREQ {
    grid-area: OSC3_FREQ;
}

.OSC1_FREQW {
    grid-area: OSC1_FREQW;
}

.OSC2_FREQW {
    grid-area: OSC2_FREQW;
}

.OSC3_FREQW {
    grid-area: OSC3_FREQW;
}

.ENVELOPE {
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.4fr 1.4fr 1.4fr 1.4fr 1.4fr 1.4fr;
    grid-template-rows: 1.4fr 1.4fr 1.4fr;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    "OSC1_ENV_ATK OSC1_ENVATK OSC1_ENV_DECAY OSC1_ENVDEC OSC1_ENV_SUS OSC1_ENVSUS OSC1_ENV_REL OSC1_ENVREL"
    "OSC2_ENV_ATK OSC2_ENVATK OSC2_ENV_DECAY OSC2_ENVDEC OSC2_ENV_SUS OSC2_ENVSUS OSC2_ENV_REL OSC2_ENVREL"
    "OSC3_ENV_ATK OSC3_ENVATK OSC3_ENV_DECAY OSC3_ENVDEC OSC3_ENV_SUS OSC3_ENVSUS OSC3_ENV_REL OSC3_ENVREL";
    grid-area: ENVELOPE;
    background-color: transparent;
    transform: scale(0.8, 0.8);
    border-radius: 10px;
    border: 1px ridge #333;
    margin: 4px;
    padding: 5px;
    text-align: center;
}

.LFO {
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.4fr 1.4fr;
    grid-template-rows: 1.4fr 1.4fr 1.4fr;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "OSC1_LFO_FREQ OSC1_AMW OSC1_LFOF_FREQ OSC1_LFOF_FREQW"
        "OSC2_LFO_FREQ OSC2_AMW OSC2_LFOF_FREQ OSC2_LFOF_FREQW"
        "OSC3_LFO_FREQ OSC3_AMW OSC3_LFOF_FREQ OSC3_LFOF_FREQW";
    grid-area: LFO;
    background-color: transparent;
    transform: scale(0.8, 0.8);
    border-radius: 10px;
    border: 1px ridge #333;
    margin: 4px;
    padding: 5px;
    text-align: center;
}
.FILTER {
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.4fr 1.4fr;
    grid-template-rows: 1.4fr 1.4fr 1.4fr;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "OSC1_Q_FLTR OSC1_FLTRQ OSC1_FREQ_FLTR OSC1_FLFREQ"
    "OSC2_Q_FLTR OSC2_FLTRQ OSC2_FREQ_FLTR OSC2_FLFREQ"
    "OSC3_Q_FLTR OSC3_FLTRQ OSC3_FREQ_FLTR OSC3_FLFREQ";
    grid-area: FILTER;
    background-color: transparent;
    transform: scale(0.8, 0.8);
    border-radius: 10px;
    border: 1px ridge #333;
    margin: 4px;
    padding: 5px;
    text-align: center;
}

.LFO > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.OSCIS {
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 1.4fr 1.4fr 1.4fr;
    grid-template-rows: 1.4fr 1.4fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "OSC1 OSC1_VOL OSC1_VOLW OSC1_FREQ OSC1_FREQW"
        "OSC2 OSC2_VOL OSC2_VOLW OSC2_FREQ OSC2_FREQW"
        "OSC3 OSC3_VOL OSC3_VOLW OSC3_FREQ OSC3_FREQW";

    grid-area: OSCIS;
    background-color: transparent;
    transform: scale(0.8, 0.8);
    border-radius: 10px;
    border: 1px ridge #333;
    margin: 4px;
    padding: 5px;
    text-align: center;
}
.FILTER > div > button {
    height: 100%;
    width: 100%;
    background-color: rgba(113, 197, 131, 0.2);
    cursor: crosshair;
}

.LFO > div > button {
    height: 100%;
    width: 100%;
    background-color: rgba(113, 197, 131, 0.2);
    cursor: crosshair;
}

.OSCIS > div > button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-color: rgba(113, 197, 131, 0.2);
    cursor: crosshair;
}
.FILTER > div > div > button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: crosshair;
}
.OSCIS > div > div > button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: crosshair;
}
.OSC1_LFO {
    grid-area: OSC1_LFO;
}

.OSC2_LFO {
    grid-area: OSC2_LFO;
}

.OSC3_LFO {
    grid-area: OSC3_LFO;
}

.OSC1_LFO_FREQ {
    grid-area: OSC1_LFO_FREQ;
}

.OSC2_LFO_FREQ {
    grid-area: OSC2_LFO_FREQ;
}

.OSC3_LFO_FREQ {
    grid-area: OSC3_LFO_FREQ;
}

.NOISE_LFO {
    grid-area: NOISE_LFO;
}

.NOISE_LFO_FREQ {
    grid-area: NOISE_LFO_FREQ;
}

.OSC1_AMW {
    grid-area: OSC1_AMW;
}

.OSC2_AMW {
    grid-area: OSC2_AMW;
}

.OSC3_LFOW {
    grid-area: OSC3_LFOW;
}

.NOISE_LFOW {
    grid-area: NOISE_LFOW;
}

.OSC1_LFOF_FREQ {
    grid-area: OSC1_LFOF_FREQ;
}

.OSC2_LFOF_FREQ {
    grid-area: OSC2_LFOF_FREQ;
}

.OSC3_LFOF_FREQ {
    grid-area: OSC3_LFOF_FREQ;
}

.OSC1_LFOF_FREQW {
    grid-area: OSC1_LFOF_FREQW;
}

.OSC2_LFOF_FREQW {
    grid-area: OSC2_LFOF_FREQW;
}

.OSC3_LFOF_FREQW {
    grid-area: OSC3_LFOF_FREQW;
}

.OSC1_ENV_ATK {
    grid-area: OSC1_ENV_ATK;
}
.OSC1_ENVATK {
    grid-area: OSC1_ENVATK;
}
.OSC1_ENV_DECAY {
    grid-area: OSC1_ENV_DECAY;
}
.OSC1_ENVDEC {
    grid-area: OSC1_ENVDEC;
}
.OSC1_ENV_SUS {
    grid-area: OSC1_ENV_SUS;
}
.OSC1_ENVSUS {
    grid-area: OSC1_ENVSUS;
}
.OSC1_ENV_REL {
    grid-area: OSC1_ENV_REL;
}
.OSC1_ENVREL {
    grid-area: OSC1_ENVREL;
}
.OSC2_ENV_ATK {
    grid-area: OSC2_ENV_ATK;
}
.OSC2_ENVATK {
    grid-area: OSC2_ENVATK;
}
.OSC2_ENV_DECAY {
    grid-area: OSC2_ENV_DECAY;
}
.OSC2_ENVDEC {
    grid-area: OSC2_ENVDEC;
}
.OSC2_ENV_SUS {
    grid-area: OSC2_ENV_SUS;
}
.OSC2_ENVSUS {
    grid-area: OSC2_ENVSUS;
}
.OSC2_ENV_REL {
    grid-area: OSC2_ENV_REL;
}
.OSC2_ENVREL {
    grid-area: OSC2_ENVREL;
}
.OSC3_ENV_ATK {
    grid-area: OSC3_ENV_ATK;
}

.OSC3_ENVATK {
    grid-area: OSC3_ENVATK;
}

.OSC3_ENV_DECAY {
    grid-area: OSC3_ENV_DECAY;
}

.OSC3_ENVDEC {
    grid-area: OSC3_ENVDEC;
}

.OSC3_ENV_SUS {
    grid-area: OSC3_ENV_SUS;
}

.OSC3_ENVSUS {
    grid-area: OSC3_ENVSUS;
}

.OSC3_ENV_REL {
    grid-area: OSC3_ENV_REL;
}

.OSC3_ENVREL {
    grid-area: OSC3_ENVREL;
}


/* 
.SPECTRO_ONE {
    grid-area: SPECTRO_ONE;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 40px;
    transform: scale(1, 0.9);
}

.SPECTRO_TWO {
    grid-area: SPECTRO_TWO;
    background-color: transparent;
    padding-top: 15px;
    padding-right: 15px;
    transform: scale(1, 0.9);
}

.WAVEFORM {
    grid-area: WAVEFORM;
    background-color: rgba(0, 0, 0, 0.05);
} */
