.app { 
    background-color: #595959;
}

.container {
    background-image: url("https://res.cloudinary.com/dusaigbyn/image/upload/v1686177549/pexels-fwstudio-172296_pvos6a.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    align-items: center;
    grid-template-areas:
        "OSCIS"
        "PIANO";
    height: 100%;
    width: 100%;
    flex: 1;
}
.OSCIS {
    
    display: grid;
    grid-template-columns: 400px 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    min-height: 0;
    min-width: 0;
    grid-auto-flow: column;
    grid-template-areas:
        "oscSection filterSection envSection lfoSection efxSection";
    grid-area: OSCIS;
    background-color: transparent;
    transform: scale(0.8, 0.8);
    border-radius: 10px;
    border: 40px ridge #595959;
    margin: 4px;
    padding: 20px;
    justify-self: center;
    background-color: rgb(187, 187, 187);
    box-shadow: 3px 3px 3px rgba(29, 28, 28, 0.445);
}
.oscSection {
    grid-area: oscSection;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "DIGI VOLW FREQW"
      "OSC1 OSC1_VOL OSC1_FREQ"
      "OSC2 OSC2_VOL OSC2_FREQ"
      "OSC3 OSC3_VOL OSC3_FREQ"
      "OSCTITLE . .";
    background-color: transparent;
    justify-self: center;
    background-color: rgb(187, 187, 187);
    overflow: auto;
    border-right: 2px solid #595959;
    padding-right: 7px;
  }

.filterSection{
    grid-area: filterSection;
    display: grid;
    width: 185px;
    grid-template-columns: 90px 85px;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "FLTRQ FLFREQ"
        "OSC1_Q_FLTR OSC1_FREQ_FLTR"
        "OSC2_Q_FLTR OSC2_FREQ_FLTR"
        "OSC3_Q_FLTR OSC3_FREQ_FLTR"
        "FLTITLE .";
    background-color: transparent;
    justify-self: center;
    background-color: rgb(187, 187, 187);
    overflow: auto;
    border-right: 2px solid #595959;
    margin-right: 20px;
    padding-left: 7px;
    text-align: center;
}
.envSection{
    grid-area: envSection;
    display: grid;
    width: 345px;
    grid-template-columns: 85px 85px 85px 85px;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "ENVATK ENVDEC ENVSUS ENVREL"
        "OSC1_ENV_ATK OSC1_ENV_DECAY OSC1_ENV_SUS OSC1_ENV_REL"
        "OSC2_ENV_ATK OSC2_ENV_DECAY OSC2_ENV_SUS OSC2_ENV_REL"
        "OSC3_ENV_ATK OSC3_ENV_DECAY OSC3_ENV_SUS OSC3_ENV_REL"
        "ENVTITLE . . .";
        background-color: transparent;
        justify-self: center;
        background-color: rgb(187, 187, 187);
        overflow: auto;
        border-right: 2px solid #595959;
        margin-right: 20px;;
        padding-left: 7px;
        text-align: center;
}
.lfoSection {
    grid-area: lfoSection;
        display: grid;
        width: 175px;
        grid-template-columns: 85px 85px;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "AMW AMWF"
            "OSC1_LFO_FREQ OSC1_LFOF_FREQ"
            "OSC2_LFO_FREQ OSC2_LFOF_FREQ"
            "OSC3_LFO_FREQ OSC3_LFOF_FREQ"
            "LFOTITLE .";
            background-color: transparent;
            justify-self: center;
            background-color: rgb(187, 187, 187);
            overflow: auto;
            border-right: 2px solid #595959;
            padding-right: 7px;
            padding-left: 7px;
            text-align: center;
}
.efxSection{
    font-weight: bold;
    grid-area: efxSection;
    display: grid;
    width: 435px;
    grid-template-columns: 85px 85px 85px 85px 85px;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "DLYWET DLYFBK DLYTIME REVWET REVDEC"
        "OSC1_DLY_WET OSC1_DLY_FBK OSC1_DLY_TIME OSC1_REV_WET OSC1_REV_DEC"
        "OSC2_DLY_WET OSC2_DLY_FBK OSC2_DLY_TIME OSC2_REV_WET OSC2_REV_DEC"
        "OSC3_DLY_WET OSC3_DLY_FBK OSC3_DLY_TIME OSC3_REV_WET OSC3_REV_DEC"
        "EFXTITLE . . . .";
        background-color: transparent;
        border-radius: 10px;
        justify-self: center;
        background-color: rgb(187, 187, 187);
        overflow: auto;
        margin-right: 20px;
        padding-left: 7px;
        text-align: center;
}

.oscSwitch {
width: 100px;
}
.LFOTITLE {
    grid-area: LFOTITLE;
    font-size: 43pt;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: visible; /* Enable horizontal scrolling for overflow */
}
.FLTITLE {
    grid-area: FLTITLE;
    font-size: 43pt;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: visible; /* Enable horizontal scrolling for overflow */
}
.ENVTITLE {
    grid-area: ENVTITLE;
    font-size: 43pt;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: visible; /* Enable horizontal scrolling for overflow */
}
.OSCTITLE {
    grid-area: OSCTITLE;
    font-size: 43pt;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: visible; /* Enable horizontal scrolling for overflow */
  }

.EFXTITLE {
    grid-area: EFXTITLE;
    font-size: 43pt;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: visible; /* Enable horizontal scrolling for overflow */
  }
  
.OSCTITLE2 {
    grid-area: OSCTITLE2;
}
.OSCTITLE3 {
    grid-area: OSCTITLE3;
}
.OSCTITLE4 {
    grid-area: OSCTITLE4;
}
.OSCTITLE5 {
    grid-area: OSCTITLE5;
}
.OSCTITLE6 {
    grid-area: OSCTITLE6;
}
.OSCTITLE7 {
    grid-area: OSCTITLE7;
}
.OSCTITLE8 {
    grid-area: OSCTITLE8;
}
.OSCTITLE9 {
    grid-area: OSCTITLE9
}
.casediv {
    padding-bottom: 25px ;
    margin-right: -20px;
    border: 4px solid black;
    background-color: azure;
    box-shadow: 3px 3px 3px 3px #7a2f2e;
    background-image: url("https://res.cloudinary.com/dusaigbyn/image/upload/v1686177549/pexels-fwstudio-172296_pvos6a.jpg");
    background-size: cover;
    background-position: center;
}

.FILTER > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ENVELOPE > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.LFO > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.piano {
    grid-area: PIANO;
    box-shadow: 3px 3px 3px rgba(29, 28, 28, 0.445);
    height: 100%;
    width: 100%;
}
.OSC1_Q_FLTR {
    grid-area: OSC1_Q_FLTR;
}
.OSC2_Q_FLTR {
    grid-area: OSC2_Q_FLTR;
}
.OSC3_Q_FLTR {
    grid-area: OSC3_Q_FLTR;
}
.FLTRQ {
    grid-area: FLTRQ;
    text-align: center;
}
.REVDEC {
    grid-area: REVDEC;
}
.REVWET {
    grid-area: REVWET;
}
.DLYTIME {
    grid-area: DLYTIME;
}
.DLYFBK {
    grid-area: DLYFBK;
}
.DLYWET {
    grid-area: DLYWET;
}
.OSC2_FLTRQ {
    grid-area: OSC2_FLTRQ;
}
.OSC3_FLTRQ {
    grid-area: OSC3_FLTRQ;
}
.OSC1_FREQ_FLTR {
    grid-area: OSC1_FREQ_FLTR;
}
.OSC2_FREQ_FLTR {
    grid-area: OSC2_FREQ_FLTR;
}
.OSC3_FREQ_FLTR {
    grid-area: OSC3_FREQ_FLTR;
}
.FLFREQ {
    grid-area: FLFREQ;
}

.osc1 {
    grid-area: OSC1;
}

.DIGI {
    grid-area: DIGI;
    font-weight: bold;
    font-size: 24pt;
    align-items: center;
}

.OSC2 {
    grid-area: OSC2;
}

.OSC3 {
    grid-area: OSC3;
}

.OSC1_VOL {
    grid-area: OSC1_VOL;
}

.OSC2_VOL {
    grid-area: OSC2_VOL;
}

.OSC3_VOL {
    grid-area: OSC3_VOL;
}
.VOLW {
    grid-area: VOLW;
    text-align: center;
}

.FLDT {
    grid-area: FLDT;
}
.GLFREQ {
    grid-area: FLQ
}
.FLRSN {
    grid-area: FLRSN
}

.OSC1_FREQ {
    grid-area: OSC1_FREQ;
}

.OSC2_FREQ {
    grid-area: OSC2_FREQ;
}

.OSC3_FREQ {
    grid-area: OSC3_FREQ;
}

.OSC1_FREQW {
    grid-area: OSC1_FREQW;
}

.OSC2_FREQW {
    grid-area: OSC2_FREQW;
}

.OSC3_FREQW {
    grid-area: OSC3_FREQW;
}

.OSC1_DLY_WET { 
    grid-area: OSC1_DLY_WET;
}
.OSC2_DLY_WET {
    grid-area: OSC2_DLY_WET;
}
.OSC3_DLY_WET {
    grid-area: OSC3_DLY_WET;
}
.OSC1_DLY_FBK {
    grid-area: OSC1_DLY_FBK;
}
.OSC2_DLY_FBK {
    grid-area: OSC2_DLY_FBK;
}
.OSC3_DLY_FBK {
    grid-area: OSC3_DLY_FBK;
}
.OSC1_DLY_TIME {
    grid-area: OSC1_DLY_TIME;
}
.OSC2_DLY_TIME {
    grid-area: OSC2_DLY_TIME;
}
.OSC3_DLY_TIME {
    grid-area: OSC3_DLY_TIME;
}
.OSC1_REV_WET {
    grid-area: OSC1_REV_WET;
}
.OSC2_REV_WET {
    grid-area: OSC2_REV_WET;
}
.OSC3_REV_WET {
    grid-area: OSC3_REV_WET;
}
.OSC1_REV_DEC {
    grid-area: OSC1_REV_DEC;
}
.OSC2_REV_DEC {
    grid-area: OSC2_REV_DEC;
}
.OSC3_REV_DEC {
    grid-area: OSC3_REV_DEC;
}
.LFO > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.FILTER > div > button {
    height: 100%;
    width: 100%;
    background-color: rgba(113, 197, 131, 0.2);
    cursor: crosshair;
}

.LFO > div > button {
    height: 100%;
    width: 100%;
    background-color: rgba(113, 197, 131, 0.2);
    cursor: crosshair;
}

.OSCIS > div > button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-color: rgba(113, 197, 131, 0.2);
    cursor: crosshair;
}

.OSC1_LFO {
    grid-area: OSC1_LFO;
}

.OSC2_LFO {
    grid-area: OSC2_LFO;
}

.OSC3_LFO {
    grid-area: OSC3_LFO;
}

.OSC1_LFO_FREQ {
    grid-area: OSC1_LFO_FREQ;
}

.OSC2_LFO_FREQ {
    grid-area: OSC2_LFO_FREQ;
}

.OSC3_LFO_FREQ {
    grid-area: OSC3_LFO_FREQ;
}

.NOISE_LFO {
    grid-area: NOISE_LFO;
}

.NOISE_LFO_FREQ {
    grid-area: NOISE_LFO_FREQ;
}

.AMW {
    grid-area: AMW;
}

.OSC3_LFOW {
    grid-area: OSC3_LFOW;
}

.OSC1_LFOF_FREQ {
    grid-area: OSC1_LFOF_FREQ;
}

.OSC2_LFOF_FREQ {
    grid-area: OSC2_LFOF_FREQ;
}

.OSC3_LFOF_FREQ {
    grid-area: OSC3_LFOF_FREQ;
}

.AMWF {
    grid-area: AMWF;
}

.FREQW {
    grid-area: FREQW;
}

.OSC1_ENV_ATK {
    grid-area: OSC1_ENV_ATK;
}
.ENVATK {
    grid-area: ENVATK;
}
.OSC1_ENV_DECAY {
    grid-area: OSC1_ENV_DECAY;
}
.ENVDEC {
    grid-area: ENVDEC;
}
.OSC1_ENV_SUS {
    grid-area: OSC1_ENV_SUS;
}
.ENVSUS {
    grid-area: ENVSUS;
}
.OSC1_ENV_REL {
    grid-area: OSC1_ENV_REL;
}
.ENVREL {
    grid-area: ENVREL;
}
.OSC2_ENV_ATK {
    grid-area: OSC2_ENV_ATK;
}

.OSC2_ENV_DECAY {
    grid-area: OSC2_ENV_DECAY;
}
.OSC2_ENVDEC {
    grid-area: OSC2_ENVDEC;
}
.OSC2_ENV_SUS {
    grid-area: OSC2_ENV_SUS;
}

.OSC2_ENV_REL {
    grid-area: OSC2_ENV_REL;
}

.OSC3_ENV_ATK {
    grid-area: OSC3_ENV_ATK;
}

.OSC3_ENV_DECAY {
    grid-area: OSC3_ENV_DECAY;
}

.OSC3_ENVDEC {
    grid-area: OSC3_ENVDEC;
}

.OSC3_ENV_SUS {
    grid-area: OSC3_ENV_SUS;
}

.OSC3_ENV_REL {
    grid-area: OSC3_ENV_REL;
}


/* .WAVEFORM {
    grid-area: WAVEFORM;
    background-color: rgba(0, 0, 0, 0.05);
} */